<p>
  about works!
</p>



  <div class="container pt-3" style="background-color:#E4FFE7;">
    <div class="row">
      <div class="col-md-12">


<div class="panel panel-default">
  <div class="panel-heading  bg-success text-white">
    <h2 class="panel-title"><span style="color:#5bc0de;" class="glyphicon glyphicon-plus"> </span> ADMINISTRATORS</h2>
  </div>
  <div class="panel-body">
    <form ng-submit="assignmaid(acceptedrequest)" ng-init="showacceptedrequest()">
    
<div class="row" ng-init="aboutus()"  >
 
<div class="col-md-3 p-1"  >

    <H5>{{admin.fname}} {{admin.lname}}</H5>
    <div class="card" >
            <img class="card-img-top" src="images/profilepictures/1528200510050620181" class="img-fluid mx-auto img-thumbnail" alt="Responsive image" alt="Card image cap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Name : {{admin.fname}} {{admin.lname}}</li>
              <li class="list-group-item">Role : {{admin.role}}</li>
              <li class="list-group-item">phone : {{admin.phone}}</li>
            </ul>
            <ul ng-show="showmore2" ng-init="showmore2=false" class="list-group list-group-flush">
              <li class="list-group-item">Email : {{admin.email}}</li>
              <li class="list-group-item">phone 2 : {{admin.phone2}}</li>
              <li class="list-group-item">Sex: {{admin.sex}}  </li>
              <li class="list-group-item">Rgion: {{admin.region}} </li>
              <li class="list-group-item">Zone: {{admin.zone}}</li>
              <li class="list-group-item">Address :{{admin.town}}</li>
            </ul>
            <div class="card-body">
              <a ng-hide="showmore2" ng-click="showmore2=true" class="btn btn-primary" >SHOW MORE</a>
              <a ng-show="showmore2" ng-click="showmore2=false" class="btn btn-primary" >SHOW LESS</a>
            </div>
          </div>
</div>
<div class="col-md-3 p-1"  >

    <H5>{{admin.fname}} {{admin.lname}}</H5>
    <div class="card" >
            <img class="card-img-top" src="C:/Users/MESFIN BALI/Documents/omsng/src/images/profilepictures/photo-2018-01-17-05-53-1-640x640" class="img-fluid mx-auto img-thumbnail" alt="Responsive image" alt="Card image cap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Name : {{admin.fname}} {{admin.lname}}</li>
              <li class="list-group-item">Role : {{admin.role}}</li>
              <li class="list-group-item">phone : {{admin.phone}}</li>
            </ul>
            <ul ng-show="showmore2" ng-init="showmore2=false" class="list-group list-group-flush">
              <li class="list-group-item">Email : {{admin.email}}</li>
              <li class="list-group-item">phone 2 : {{admin.phone2}}</li>
              <li class="list-group-item">Sex: {{admin.sex}}  </li>
              <li class="list-group-item">Rgion: {{admin.region}} </li>
              <li class="list-group-item">Zone: {{admin.zone}}</li>
              <li class="list-group-item">Address :{{admin.town}}</li>
            </ul>
            <div class="card-body">
              <a ng-hide="showmore2" ng-click="showmore2=true" class="btn btn-primary" >SHOW MORE</a>
              <a ng-show="showmore2" ng-click="showmore2=false" class="btn btn-primary" >SHOW LESS</a>
            </div>
          </div>
</div>
<div class="col-md-3 p-1"  >

    <H5>{{admin.fname}} {{admin.lname}}</H5>
    <div class="card" >
            <img class="card-img-top" src="C:/Users/MESFIN BALI/Documents/omsng/src/images/profilepictures/1529175934160620181" class="img-fluid mx-auto img-thumbnail" alt="Responsive image" alt="Card image cap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Name : {{admin.fname}} {{admin.lname}}</li>
              <li class="list-group-item">Role : {{admin.role}}</li>
              <li class="list-group-item">phone : {{admin.phone}}</li>
            </ul>
            <ul ng-show="showmore2" ng-init="showmore2=false" class="list-group list-group-flush">
              <li class="list-group-item">Email : {{admin.email}}</li>
              <li class="list-group-item">phone 2 : {{admin.phone2}}</li>
              <li class="list-group-item">Sex: {{admin.sex}}  </li>
              <li class="list-group-item">Rgion: {{admin.region}} </li>
              <li class="list-group-item">Zone: {{admin.zone}}</li>
              <li class="list-group-item">Address :{{admin.town}}</li>
            </ul>
            <div class="card-body">
              <a ng-hide="showmore2" ng-click="showmore2=true" class="btn btn-primary" >SHOW MORE</a>
              <a ng-show="showmore2" ng-click="showmore2=false" class="btn btn-primary" >SHOW LESS</a>
            </div>
          </div>
</div>
<div class="col-md-3 p-1"  >

    <H5>{{admin.fname}} {{admin.lname}}</H5>
    <div class="card" >
            <img class="card-img-top" src="C:/Users/MESFIN BALI/Documents/omsng/src/images/profilepictures/1528200926050620181" class="img-fluid mx-auto img-thumbnail" alt="Responsive image" alt="Card image cap">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Name : {{admin.fname}} {{admin.lname}}</li>
              <li class="list-group-item">Role : {{admin.role}}</li>
              <li class="list-group-item">phone : {{admin.phone}}</li>
            </ul>
            <ul ng-show="showmore2" ng-init="showmore2=false" class="list-group list-group-flush">
              <li class="list-group-item">Email : {{admin.email}}</li>
              <li class="list-group-item">phone 2 : {{admin.phone2}}</li>
              <li class="list-group-item">Sex: {{admin.sex}}  </li>
              <li class="list-group-item">Rgion: {{admin.region}} </li>
              <li class="list-group-item">Zone: {{admin.zone}}</li>
              <li class="list-group-item">Address :{{admin.town}}</li>
            </ul>
            <div class="card-body">
              <a ng-hide="showmore2" ng-click="showmore2=true" class="btn btn-primary" >SHOW MORE</a>
              <a ng-show="showmore2" ng-click="showmore2=false" class="btn btn-primary" >SHOW LESS</a>
            </div>
          </div>
</div>
</div>
</form> 


      </div>
    </div>
  </div>
 </div>
  </div>

