<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark #0d47a1 blue darken-4 ie-nav" [containerInside]="true">
    <mdb-navbar-brand>
        <a href="#">
            <img src="assets/images/logow.jpg"   class=" logo navbar-brand img-fluid ">
          
          </a>
        <!-- <a class="logo " href="#"><strong>Navbar</strong></a> -->
    </mdb-navbar-brand>
    <links class="">
        <ul class="navbar-nav mr-auto">
            
           
            <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="/"><i class="fa fa-home" aria-hidden="true"></i>Home<span class="sr-only">(current)</span></a>
            </li> 
            
             <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                   <span class="caret"></span> Services</a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">hotel Waiters</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">House Keepers</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Dish Installation</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">hotel Waiters</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">House Keepers</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Dish Installation</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">hotel Waiters</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">House Keepers</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Dish Installation</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">hotel Waiters</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">House Keepers</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Dish Installation</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
                </div>
            </li>
           
            <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="/searchMaid" ><i class="fa fa-search" aria-hidden="true"></i><b> Maids</b></a>
            </li>  
            
            <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="/searchAgency" ><i class="fa fa-search" aria-hidden="true"></i><b> Agencies</b></a>
            </li>  
             <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="/contactus" ><i class="fa fa-user fa-fw"></i><b>contact </b></a>
            </li>  
     
            <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link" routerLink="/aboutus" ><i class="fa fa-user fa-fw"></i><b>About</b></a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link"><i class="fa fa-instagram"></i></a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<!-- Main -->
<!-- <main>
    <div class="container" style="height:1500px;">
        <div class="row pt-5">
            <div class="col text-center">
                <h2>This Navbar isn't fixed</h2>
                <h5>When you scroll down it will disappear</h5>
            </div>
        </div>
    </div>
</main> -->
<!-- /.Main -->



