
  <div class="bg-success py-3">
    <div class="container bg-success">
   <div class="row">
      <div class="col-md-3 w-100">
        <h2 >REGISTER AS:</h2>
      </div>
      <div class="col-md-3">
        <a class="btn w-100  btn-secondary" routerLink="/signupcustomer">Customer</a>
      </div>
      <div class="col-md-3">
        <a class="btn w-100 active btn-secondary" routerLink="/signupagency">Agency</a>
      </div>
      <div class="col-md-3">
        <a class="btn w-100 btn-secondary" routerLink="/signupadmin">Admin</a>
      </div>
    </div>
    </div>
  </div>
  <div class="py-2" style="background-image: url(&quot;images/form_red.jpg&quot;);">
   <div class="container">
      <div class="row">

        <div class="align-self-top col-md-4 text-white">
    <button   ng-hide="request" ng-click="request=true" ng-init="request=false" class="btn btn-secondary">Request agency service</button>
    <div ng-show="request" class="container" >
      <div class="row">
        <div class="col-md-12">
          <div class="card text-white bg-primary p-1">
            <div class="card-body">
              <h3 class="mb-4">Maid Agency Request   </h3>
          <form name="form" ng-submit="agencyrequest(agencyrequest)">
               <div class="form-group">
                  <label>Agency name:</label>
                  <input type="text" class="form-control" placeholder="Abdene Maid Agency" ng-model="agencyrequest.aname" required=""> </div>
                <div class="form-group">
                  <label>Phone:</label>
                  <input type="text" class="form-control" placeholder="+251 932 661 78" ng-model="agencyrequest.phone" required=""> </div>
                <div class="form-group">
                  <label>Email address:</label>
                  <input type="email" class="form-control" placeholder="Enter email" ng-model="agencyrequest.email" required=""> </div>
            <div class="col-lg-4">
                <input type="file" accept="image/*,application/*"  ng-model="image1" onchange="angular.element(this).scope().uploadedFile(this)" ng-required="true" class="btn btn-info"/>
              </div> 

         <div class="row">
                <div class="col-lg-4 p-2"><img class="img-fluid d-block" src="images/maids/{{maid.imagefront1}}" id="output"  class="img-responsive"/></div>
           </div>
            <div class="p-3">
                <button type="submit" class="btn btn-secondary">Send Request</button>
                <button  ng-click="request=false" class="btn btn-secondary">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>



          <h1 class="text-center">REGISTER YOUR AGENCY TO START SERVICE ONLINE!!</h1>
          <p class="lead"> </p>
          <h2 class="text-left">Attach your document, certificate or any appropriate informatioon in the inputes:</h2>
        </div>
      
        <form class="col-md-8" ng-submit="addagency(agency)">  
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body pb-3">
                <h2 class=" text-center">Registration Form:
                  <br> </h2>
                <div class="form-group">
                  <label>Verification Code</label>
                  <input type="text" class="form-control" ng-model="agency.verificationcode" required="" placeholder="verification code sent by email"> </div>
                <div class="form-group">
                  <label>Agency Name</label>
                  <input type="text" class="form-control" ng-model="agency.name" required="" placeholder="your Agency Name"> </div>
                <div class="form-group">
                  <label>Email</label>
                  <input placeholder="your email address" ng-model="agency.email" type="email" class="form-control" required=""> </div>
                <div class="form-group">
                  <label>Phone</label>
                  <input placeholder="your phone number" ng-model="agency.phone" type="text" class="form-control" required=""> </div>
                <div class="form-group">
                  <label>phone 2</label>
                  <input type="text" class="form-control" ng-model="agency.phone2"  placeholder="optional phone"> </div>
                <div class="form-group">
                  <label>website</label>
                  <input type="text" class="form-control" ng-model="agency.website" placeholder="website link"> </div>
                <div class="form-group">
                  <label class="">Fax number</label>
                  <input type="text" class="form-control" ng-model="agency.fax" placeholder="your Fax number"> </div>
                  <div class="form-group" ng-show="">
                  <label class="">ERROR</label>
                 <p>{{errror}}</p> </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body p-2">
                
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" class="form-control" ng-model="agency.username" required="" placeholder="your username"> </div>
                <div class="form-group">
                  <label>Password</label>
                  <input placeholder="enter password" ng-model="agency.password" type="password" class="form-control" required=""> </div>
                <div class="form-group">
                  <label>Confirm password</label>
                  <input placeholder="re-enter password" ng-model="agency.confirmpassword" type="password" class="form-control" required=""> </div>
                 
                 <div class="form-group"> 
                  <label for="region">REGION:</label> 
                  <select ng-model="agency.region" id="region" class="form-control"><option value="DEBUB">DEBUB</option><option value="F">AMHARA</option><option value="OROMIA">OROMIA</option><option value="TIGRAY">TIGRAY</option><option value="ADDIS ABEBA">ADDIS ABEBA</option><option value="GAMBELA">GAMBELA</option><option value="BENSHANGUL">BENSHANGUL</option>
                  </select> 
                </div>

                <div class="form-group">
                  <label for="zone">ZONE:</label>
                  <input type="text" class="form-control" id="zone" ng-model="agency.zone">
                </div>
                <div class="form-group">
                  <label for="town">TOWN:</label>
                  <input type="text" class="form-control" id="town" ng-model="agency.town">
                </div>
                  <div class="form-group"> 
                  <label for="description" >AGENCY DESCRIPTION:</label> 
                  <textarea ng-model="agency.description"  id="description" type="text"  class="form-control">
                  </textarea> 
                 </div>
                <button type="submit" class="btn mt-2 btn-outline-success active">REGISTER</button>
              </div>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
