<!-- Footer -->
<footer class="page-footer font-small #b71c1c red darken-4 pt-4 px-4">
   
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">Ethio Maid Service</h5>
          <p>A hub that contains multiple maid agencies to help customer in finding best maid.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
               

              <li>
                  <a href="#/" class="text-white">Home</a>
              </li>
              <li>
                  <a href="#/aboutus" class="text-white">About us</a>
              </li>
              <li>
                  <a href="#/searchagency" class="text-white">Maid agecies</a>
              </li>
              <li>
                  <a href="#/searchmaid" class="text-white">Search Maid</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                <a href="#!">Link 1</a>
              </li>
              <li>
                <a href="#!">Link 2</a>
              </li>
              <li>
                <a href="#!">Link 3</a>
              </li>
              <li>
                <a href="#!">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/angular/"> MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->

    <!-- Footer Elements -->
    <div class="container">

<hr>
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Register for free</h5>
        </li>
        <li class="list-inline-item">
          <a href="#!" mdbBtn color="white" outline="true" rounded="true" class="waves-light btn-circle2" mdbWavesEffect>Sign up!</a>
        </li>
      </ul>
      <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->


    <!-- Footer Elements -->

    <div class="container px-4">

    <hr>
      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 ">

          <div class="mb-5 flex-center py-3">
          <div class="row p-0 m-0">
           
           <div class="col-md-6 col-sm-6 p-0">
             <!-- Facebook -->
            <a class="fb-ic">
                <button type="button" class="btn #01579b light-blue darken-4 btn-circle btn-xl">
                <mdb-icon icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </button>
              </a>
             <!-- Twitter -->
            <a class="tw-ic">
                <button type="button" class="btn #03a9f4 light-blue btn-circle btn-xl">
                  <mdb-icon icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </button>
              </a>
             <!-- Google +-->
            <a class="gplus-ic">
                <button type="button" class="btn #dd2c00 deep-orange darken-4 btn-circle btn-xl">
                  <mdb-icon icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </button>
              </a>
           </div>
           <div class="col-md-6 col-sm-6 p-0">
             <!--Linkedin -->
            <a class="li-ic">
                <button type="button" class="btn #0091ea light-blue accent-4 btn-circle btn-xl">
                  <mdb-icon icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </button>
              </a>
              <!--Instagram-->
            <a class="ins-ic">
                <button type="button" class="btn peach-gradient btn-circle btn-xl">
                    <mdb-icon icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
                </button>  
                </a>
             <!--Pinterest-->
            <a class="pin-ic"> 
                <button type="button" class="btn #ff3d00 deep-orange darken-3 btn-circle btn-xl">
                    <mdb-icon icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
               </button>  
              </a>
           </div>
           
          </div>
            
            
            
            
           
            

 
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> EthioMaidService.com</a>
    </div>
    <!-- Copyright -->

    
  </footer>
  <!-- Footer -->